body {
    font-size: 18px;
    font-family: "Tahoma";
    padding: 10px 0 0 30px;
}
.border-radius {
    border-radius: 5px;
}
.wrapper {
    .border-radius;
    background-color: #f1f1f1;
    height: 100px;
    width: 200px;
    transition: transform, 500ms;
    margin-left: 0px;
    text-align: center;
    color: #cccccc;
}
.example {
    .border-radius;
    background-color: pink;
    height: 75px;
    width: 75px;
    position: relative;
    top: -87px;
    left: -90px;
    transition: transform, border-radius;
    transition-duration: 700ms, 500ms;
    color: #fff;
}
.father {
    .border-radius;
    background-color: pink;
    height: 100px;
    width: 200px;
    margin-left: 65px;
    margin-bottom: 10px;
    overflow: hidden;
}
.father:hover .example {
    transform: translateX(100px);
    background-color: gold;
    border-radius: 50%;
}
.father:hover .wrapper {
    transform: translateX(180px);
    background-color: royalblue;
    opacity: 0;
}
.example::before {
    content: "sup?";
    position: relative;
    top: 35%;
    left: 35%;
    font-family: "Tahoma";
    opacity: 1;
    transform: rotateX(30deg);
    opacity: 0;
    transition: opacity, 300ms;
}
.father:hover .example::before {
    opacity: 1;
    transition-delay: 300ms;
    transition-timing-function: linear;
}
  